In [43]:
import polars as pl

# Load the CSV file into a Polars DataFrame
df = pl.read_csv('gsearch_jobs.csv')

In [44]:
print(df.describe())

shape: (9, 28)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆           ┆ index     ┆ title     ┆ … ┆ salary_ho ┆ salary_ye ┆ salary_st ┆ descript │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ urly      ┆ arly      ┆ andardize ┆ ion_toke │
│ str       ┆ f64       ┆ f64       ┆ str       ┆   ┆ ---       ┆ ---       ┆ d         ┆ ns       │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ f64       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ f64       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 60300.0   ┆ 60300.0   ┆ 60300     ┆ … ┆ 5826.0    ┆ 3970.0    ┆ 9893.0    ┆ 60300    │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0         ┆ … ┆ 54474.0   ┆ 56330.0   ┆ 50407.0   ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 30149.5   ┆ 1153.6337 ┆ null      ┆ … ┆ 40.718141 ┆ 104304.34 ┆ 92549.213 ┆ null     │
│           ┆           ┆ 81        ┆           ┆   ┆           ┆ 3809      ┆ 593       ┆          │
│ std       ┆ 17407.254 ┆ 718.59215 ┆ null      ┆ … ┆ 22.241278 ┆ 35939.150 ┆ 43332.566 ┆ null     │
│           ┆ 953       ┆ 3         ┆           ┆   ┆           ┆ 963       ┆ 149       ┆          │
│ min       ┆ 0.0       ┆ 0.0       ┆ !!        ┆ … ┆ 7.25      ┆ 29289.84  ┆ 15080.0   ┆ ['airflo │
│           ┆           ┆           ┆ Business  ┆   ┆           ┆           ┆           ┆ w',      │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆ 'aws',   │
│           ┆           ┆           ┆ Analyst   ┆   ┆           ┆           ┆           ┆ 'snowfla │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ke'…     │
│ 25%       ┆ 15075.0   ┆ 558.0     ┆ null      ┆ … ┆ 23.5      ┆ 80720.0   ┆ 62400.0   ┆ null     │
│ 50%       ┆ 30150.0   ┆ 1116.0    ┆ null      ┆ … ┆ 33.5      ┆ 96500.0   ┆ 88400.0   ┆ null     │
│ 75%       ┆ 45224.0   ┆ 1683.0    ┆ null      ┆ … ┆ 55.0      ┆ 120000.0  ┆ 117520.0  ┆ null     │
│ max       ┆ 60299.0   ┆ 3772.0    ┆ 🚨 Job    ┆ … ┆ 300.0     ┆ 550000.0  ┆ 624000.0  ┆ []       │
│           ┆           ┆           ┆ Opportuni ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ ty:       ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Analyst   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ for…      ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [45]:
# Print out the head of the DataFrame
print(df.head())

shape: (5, 27)
┌─────┬───────┬─────────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│     ┆ index ┆ title       ┆ company_nam ┆ … ┆ salary_hour ┆ salary_yea ┆ salary_sta ┆ descriptio │
│ --- ┆ ---   ┆ ---         ┆ e           ┆   ┆ ly          ┆ rly        ┆ ndardized  ┆ n_tokens   │
│ i64 ┆ i64   ┆ str         ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│     ┆       ┆             ┆ str         ┆   ┆ f64         ┆ f64        ┆ f64        ┆ str        │
╞═════╪═══════╪═════════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 0   ┆ 0     ┆ Data        ┆ Meta        ┆ … ┆ null        ┆ 122000.0   ┆ 122000.0   ┆ ['python', │
│     ┆       ┆ Analyst     ┆             ┆   ┆             ┆            ┆            ┆ 'tableau', │
│     ┆       ┆             ┆             ┆   ┆             ┆            ┆            ┆ 'sql', '…  │
│ 1   ┆ 1     ┆ Data        ┆ ATC         ┆ … ┆ null        ┆ null       ┆ null       ┆ []         │
│     ┆       ┆ Analyst     ┆             ┆   ┆             ┆            ┆            ┆            │
│ 2   ┆ 2     ┆ Aeronautica ┆ Garmin Inte ┆ … ┆ null        ┆ null       ┆ null       ┆ ['sql']    │
│     ┆       ┆ l Data      ┆ rnational,  ┆   ┆             ┆            ┆            ┆            │
│     ┆       ┆ Analyst     ┆ Inc.        ┆   ┆             ┆            ┆            ┆            │
│ 3   ┆ 3     ┆ Data        ┆ Upwork      ┆ … ┆ 20.0        ┆ null       ┆ 41600.0    ┆ ['power_bi │
│     ┆       ┆ Analyst -   ┆             ┆   ┆             ┆            ┆            ┆ ', 'powerp │
│     ┆       ┆ Consumer    ┆             ┆   ┆             ┆            ┆            ┆ oint',     │
│     ┆       ┆ Goods …     ┆             ┆   ┆             ┆            ┆            ┆ 'ex…       │
│ 4   ┆ 4     ┆ Data        ┆ Krispy      ┆ … ┆ null        ┆ 100000.0   ┆ 100000.0   ┆ ['outlook' │
│     ┆       ┆ Analyst |   ┆ Kreme       ┆   ┆             ┆            ┆            ┆ , 'powerpo │
│     ┆       ┆ Workforce   ┆             ┆   ┆             ┆            ┆            ┆ int',      │
│     ┆       ┆ Manag…      ┆             ┆   ┆             ┆            ┆            ┆ 'exc…      │
└─────┴───────┴─────────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [46]:
df_jobs = df['index','title','company_name','description_tokens']

In [55]:
df_analytics = df_jobs.filter(pl.col('title').
                              str.contains("Data Analyst"))

df_analytics = df_analytics.with_columns(pl.lit("Data Analyst").alias("title"))


print(df_analytics.head(20))

shape: (20, 4)
┌───────┬──────────────┬────────────────────────────┬─────────────────────────────────┐
│ index ┆ title        ┆ company_name               ┆ description_tokens              │
│ ---   ┆ ---          ┆ ---                        ┆ ---                             │
│ i64   ┆ str          ┆ str                        ┆ str                             │
╞═══════╪══════════════╪════════════════════════════╪═════════════════════════════════╡
│ 0     ┆ Data Analyst ┆ Meta                       ┆ ['python', 'tableau', 'sql', '… │
│ 1     ┆ Data Analyst ┆ ATC                        ┆ []                              │
│ 2     ┆ Data Analyst ┆ Garmin International, Inc. ┆ ['sql']                         │
│ 3     ┆ Data Analyst ┆ Upwork                     ┆ ['power_bi', 'powerpoint', 'ex… │
│ 4     ┆ Data Analyst ┆ Krispy Kreme               ┆ ['outlook', 'powerpoint', 'exc… │
│ …     ┆ …            ┆ …                          ┆ …                               │
│ 15    ┆ Data Analyst ┆ Walmart                    ┆ ['power_bi', 'sql', 'scala', '… │
│ 16    ┆ Data Analyst ┆ Amplify                    ┆ ['sql', 'airflow', 'python', '… │
│ 17    ┆ Data Analyst ┆ Textron                    ┆ ['sas', 'python', 'power_bi', … │
│ 18    ┆ Data Analyst ┆ Flexton Inc.               ┆ ['python', 'spark', 'sql', 'sc… │
│ 20    ┆ Data Analyst ┆ Textron                    ┆ ['sas', 'python', 'power_bi', … │
└───────┴──────────────┴────────────────────────────┴─────────────────────────────────┘

In [57]:
df_analytics['index'].head(200)

shape: (200,)
Series: 'index' [i64]
[
	0
	1
	2
	3
	4
	…
	330
	331
	332
	333
	334
]